/*====ALTALANOS====*/

* {
    box-sizing: border-box;
}

html {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(255, 229, 212);
    padding: 0px;
    margin: 0px;
    font-family: 'EB Garamond', serif;  
}

.container {
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container>*{margin:1%;
height:fit-content;}

/*====TAGEK====*/

header {
    padding: 2px;
    margin: 0px;
    background-color: rgb(180, 80, 88);
    text-align: center;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
}

article {
    background-color: rgb(249, 216, 205);
    padding: 8px;
    color: #050505;
    font-size: 0.84em;
    border-radius: 15px;
	flex:1 1 100%;
    font-size: 1.2em
}

aside{
    float: left;
    background-color: rgb(217, 139, 145);
    padding: 8px;
    color: #050505;
    font-size: 0.84em;
    border-radius: 15px;
	flex:1 1 100%;
    font-size: 1.2em
}

table{    
    border-collapse: collapse;
    width: 5%;
    margin-left: auto;
    margin-right: auto;
}

hr{
    border: 1px solid black;;
}

footer {
    background-color: rgb(180, 80, 88);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    padding: 15px;
}

td{
    text-align: center;
}

input{
    background-color: rgb(245, 237, 235);
    border-radius: 5px;
    border-width: 0.1px;
}

button{background-color: rgb(245, 237, 235);
    border-radius: 5px;
    border-width: 0.1px;
}

select{background-color: rgb(245, 237, 235);
    border-radius: 2px;
    border-width: 0.1px;
}

/*====MENU====*/

nav {
    padding: 8px;
		flex:1 1 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li a {
    display: block;
    padding: 8px;
    margin-bottom: 12px;
    color: rgb(255, 255, 255);
    background-color: rgb(217, 139, 145);
    border-radius: 10px 100px / 120px;
    text-align: center;
    text-decoration: none;
}

nav ul li a.active {
    background-color: rgb(158, 71, 89);
}

nav li a:hover {
    background-color: rgb(249, 216, 205);
    transform: scale(1.05);
}

/*====OSZTALYOK====*/

label.error {
    color: rgb(164, 60, 80); 
    font-size:smaller;
    margin: 5px;
    background-color: rgb(237, 222, 223);
    border-radius: 10px 10px ;
    ;}

a.csatlakozas{
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: black;
}

td{ 
    margin: 0 20% 0 20%;
    padding: 5px;}

img.logokep {
    height: auto;
    width: 100%;
}

.tabla{
    width: 3500%;
    flex: 10%;
}

.galleria{
    margin: auto;
    width: 90vw;
    height: 90vw;
    margin: 1%; 
}
    
.ora{float:left;}

.versenykep{
    height: 20%;
    width: 50%;
    float: right;

}
.cim{font-size: small;}

.hely{
    text-decoration: none;
    color:#050505
}

.arak{float: right;}

.araktabla{
    width: 100%;
}

img.teremkep {
    height: auto;
    width: 100%;
}

img.hip-hopkep{
    float: right;
    width: 30%;
    padding: 10px;
}

h2.cikkcim {
    display: table;
    text-align: left;
}

p.tartalom {
    padding: 3px;
    text-indent: 1.1em;
}

@media all and (min-width: 600px) {
    /*tablet*/
    nav {
  flex-basis:23%;
    }
    article {
 flex-basis:70%;
    }
article.udvozles{
        flex-basis:70%;}
    aside {
  flex-basis:20%;
    }
    aside.arak {
  flex-basis:70%;
    }
    aside.kep {
  flex-basis:30%;
    }
    article.rend{
 flex-basis:100%;
    }
    .tabla{
  width: 3000%;
    }
    .galleria{
  flex-basis:100%;
    }
    article.tanfolyam{
 flex-basis:70%;
    }
    .galleria{
        margin: auto;
        width: 70vw;
        height: 70vw;
        margin: 1%; 
    }
}

@media all and (min-width: 768px) {
    /*számítógép*/
    nav {
        flex-basis: 23%;
    }
    article{
        flex-basis: 70%;
    }
    article.ora {
        flex-basis:30%;
        float:left;
    }
    article.rend {
        float: left;
        flex-basis: 40%;
    }
    article.udvozles{
        flex-basis:40%;}
    aside {
        flex-basis: 23%;
    }
    aside.kep {
        float: right;
        flex-basis:40%;
    }
    .tabla{
        width: 2850%;
    }
    .galleria{
        float: right;
        flex-basis:60%;
    }
    article.tanfolyam{
        flex-basis:70%;
    }
    aside.arak{
        flex-basis: 70%;
    }
    article.jelentkezes{
        flex-basis: 70%;
    }
    article.kviz{
        flex-basis: 70%;
    }
    .galleria{
        margin: auto;
        width: 40vw;
        height: 40vw;
        margin: 1%; 
    }
}